aiohttp
aiosignal
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio
appdirs
argilla==1.11.0
argon2-cffi
argon2-cffi-bindings
asttokens==2.2.1
async-timeout
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache
beautifulsoup4
bleach
blinker==1.5
blobfile==2.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi
chardet==5.1.0
charset-normalizer==3.0.1
click
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
commonmark==0.9.1
contourpy
cryptography==41.0.1
cycler
dataclasses-json==0.5.8
debugpy==1.6.7
decorator==5.1.1
defusedxml
Deprecated==1.2.14
dnspython==2.3.0
docker-pycreds==0.4.0
effdet==0.4.1
entrypoints
et-xmlfile
exceptiongroup
executing==1.2.0
fastjsonschema
filelock==3.9.0
filetype==1.2.0
flatbuffers==23.5.26
flit_core
fonttools
frozenlist
fsspec==2023.6.0
gitdb
GitPython
greenlet==2.0.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.15.1
humanfriendly==10.0
idna
importlib-metadata==6.0.0
importlib-resources
iopath==0.1.10
ipykernel==6.23.2
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets
jedi==0.18.2
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
langchain==0.0.214
langchainplus-sdk==0.0.17
layoutparser==0.3.4
loguru==0.7.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py
MarkupSafe
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib
matplotlib-inline==0.1.6
mdurl
mistune
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
multidict
munkres==1.1.4
mypy-extensions==1.0.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook
notebook_shim
numexpr==2.8.4
numpy==1.23.5
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.15.1
openai==0.26.0
openapi-schema-pydantic==1.2.4
opencv-python==4.7.0.72
openpyxl
overrides
packaging==23.0
pandas==1.5.3
pandas-stubs
pandocfilters
parso==0.8.3
pathtools==0.1.2
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.9.0
pickleshare==0.7.5
Pillow
pinecone-client==2.2.1
pkgutil_resolve_name
platformdirs==3.7.0
plotly
ply==3.11
pooch
poppler-utils==0.1.0
portalocker==2.7.0
prometheus-client
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
pyarrow==11.0.0
pycocotools==2.0.6
pycparser
pycryptodomex==3.17
pydantic==1.10.9
pydeck==0.8.0
Pygments==2.15.1
Pympler==1.0.1
pypandoc==1.11
pyparsing
PyQt5==5.15.7
PyQt5-sip
pyreadline3==3.4.1
pyrsistent
PySocks
pytesseract==0.3.10
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
python-json-logger
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
pytz
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywinpty
PyYAML
pyzmq==25.1.0
qtconsole
QtPy
regex==2022.10.31
requests==2.28.2
rfc3339-validator
rfc3986==1.5.0
rfc3986-validator
rich==13.0.1
safetensors==0.3.1
scikit-learn
scipy==1.10.1
semver==2.13.0
Send2Trash
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk
setproctitle
sip
six==1.16.0
smmap
sniffio
soupsieve
SQLAlchemy==2.0.17
stack-data==0.6.2
streamlit==1.19.0
streamlit-aggrid==0.3.4.post3
streamlit-chat==0.0.2.1
sympy==1.12
tabulate==0.9.0
tenacity
terminado
threadpoolctl
tiktoken==0.2.0
timm==0.9.2
tinycss2
tokenizers==0.13.3
toml
tomli
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm
traitlets==5.9.0
transformers==4.30.2
typer==0.9.0
types-pytz
typing-inspect==0.9.0
typing-utils
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
unicodedata2
unstructured==0.7.8
unstructured-inference==0.5.1
urllib3==1.26.14
validators==0.20.0
Wand==0.6.11
wandb
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client
widgetsnbextension
win-inet-pton
win32-setctime==1.1.0
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.1.2
yarl==1.8.2
zipp
